@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

body {
  /* background-color: #ffeeda; */
  background-position-y: 17% ;
  background-image: url('/src/Images/coffeeBackground.jpg');
  color: black;
  width: 100%;
  margin: 0 auto;
}

.social {
  background-color: #986300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social h6 {
  margin: 0;
  font-size: 1.7rem;
  color: #ffcc8d;
}

.social a {
  font-size: 2.5rem;
  cursor: pointer;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 25px;
  color: #ffcc8d;
}

.social a:before {
  background-color: #695641;
  border-radius: 5px;
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: opacity 1s ease-in-out;
  color: #fff;
  width: max-content;
  padding: 5px 5px;
  z-index: 3;
  position: absolute;
  font-size: 15px;
  top: 50px;
}

.social a:hover:before {
  opacity: 1;
  visibility: visible;
}

.social a:hover {
  color: #a4b3f7;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul img {
  height: 140px;
  border-radius: 75px;
}

nav ul li {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 5px 10px;
  font-family: 'Catamaran' sans-serif;
  font-size: large;
  cursor: pointer;
  border-radius: 3px;
}

nav ul li,
nav ul li:after,
nav ul li:before {
  transition: all .5s;
}

nav ul li::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  height: 3px;
  content: '.';
  color: transparent;
  background: #471e07;
}

nav ul li:hover {
  color: #471e07;
}

nav ul li:hover::after {
  width: 100%;
}

/* Banner slideshow */

.firstSection {
  width: 50%;
  /* height: 600px; */
  /* max-width: 800px; */
  position: relative;
  margin: 20px auto;
}

.mySlides {
  display: none;
  border-radius: 20px;
}

.mySlides img {
  width: 100%;
  height: 600px;
  border: #ffcc8d 6px solid;
  border-radius: 20px;
}

.numberText {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  color: aliceblue;
  padding: 8px;
  background-color: rgba(195, 195, 195, 0.533);
  border-radius: 16px 0 0 0;
  position: absolute;
  left: 6px;
  top: 5px;
}

.text {
  background-color: rgba(195, 195, 195, 0.499);
  margin: 0 auto;
  padding: 10px 0;
  font-size: 22px;
  position: absolute;
  bottom: 10px;
  left: 6px;
  width: 100%;
  text-align: center;
  border-radius: 0 0 9px 9px;
}

.next, .prev {
  cursor: pointer;
  padding: 15px;
  margin-top: -28px;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  color: azure;
  background-color: #7c7c84;
  border-radius: 0 3px 3px 0;
  font-weight: bold;
  font-size: 18px;
}

.prev {
  left: 6px;
}

.next {
  right: -6px;
  border-radius: 3px 0 0 3px;
}

.next:hover, .prev:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* The dots */

.dots {
  text-align: center;
  margin-bottom: 20px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: rgb(255, 214, 9);
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #0d0040;
}

/* fading animation */

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Second Section */

.secondSection {
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
  width: 65%;
}

.test {
  display: flex;
  align-items: center;
  background-color: #ffcc8d;
  border-radius: 15px;
  padding: 13px;
  position: relative;
  max-width: 900px;
  margin-bottom: 20px;
  transition: width 0.5s ease-in-out;
  width: 300px;
  height: 300px;
  z-index: 1;
}

@media (hover: hover) {
  .test:hover {
    width: 540px;
  }
}

.cubeInfo {
  display: flex;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
}

.cubeInfo img {
  min-width: 300px;
  min-height: 300px;
  max-width: 301px;
  max-height: 301px;
  position: absolute;
  border-radius: 20px;
  border: 4px solid #041f50;
  transition:  0.5s;
  z-index: 2;
}

.cubeInfo h5 {
  z-index: 3;
  color: white;
  font-size: medium;
}


.textBox {
  color: rgb(120, 75, 6);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  margin: 0;
  max-width: 200px;
  z-index: 1;
  text-align: right;
  position: absolute;
  right: 20px;
}

/* .test:hover + .textBox {
  visibility: visible;
} */

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Third Section */

.thirdSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 25px auto;
}

.thirdSection h2 {
  position: absolute;
  margin: 0;
  font-size: 3rem;
  color: #ecaf72;
}

.thirdSection img {
  width: 100%;
  height: 480px;
  border-radius: 8px;
}

/* upper footer */

.top-footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #986300;
  padding: 40px 0;
}

.top-footer h5 {
  font-size: 1.1rem;
  margin: 0;
}

.topFooterChild {
  margin-left: 25px;
}

.map img {
  width: 300px;
  height: 300px;
}

.wifiPic {
  width: 300px;
  height: 300px;
}



/* Footer */

footer {
  margin: 0;
  padding: 20px;
  background-color:#ffd094;
}

footer h5 {
  margin: 0 0 0 60px;
  color: #05204c;
}

/* mobile exception */

@media only screen and (max-width: 1508px) {
  
  .test {
    margin-bottom: 20px;
  }

  .cubeInfo {
    min-height: 200px;
    min-width: 200px;
    max-width: 201px;
    max-height: 201px;
    border-radius: 28px;
  }

  .cubeInfo img {
    width: 200px;
    height: 200px;
  }

  .secondSection {
    flex-direction: column;
  }

  .thirdSection {
    width: 90%;
  }

  .thirdSection h2 {
    font-size: 1.5rem;
  }

  
}